<html>
	<h1>URL Shortener Microservice</h1>
	<p>For the freeCodeCamp challenge over at <a href="https://www.freecodecamp.com/challenges/url-shortener-microservice" target="_blank">https://www.freecodecamp.com/challenges/url-shortener-microservice</a></p>
	<h3>Create New Shortened URL:</h3>
	<code>https://frozen-meadow-99188.herokuapp.com/new/&#60;INSERT_YOUR_URL_HERE&#62;</code>
	<h3>Example Output:</h3>
	<code>{ "original_url": "https://www.MYWEBSITEWITHVERYLONGNAME.com","shortened_url": "https://frozen-meadow-99188.herokuapp.com/H1jtG-3yW"}</code>
	<h3>Example Access:</h3>
	<code>https://frozen-meadow-99188.herokuapp.com/H1jtG-3yW<code>
	<p>Redirects to https://www.MYWEBSITEWITHVERYLONGNAME.com in this case.</p>
</html>